<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.ejercicio_sqlite">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_icono"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_icono"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ConsultaRecyclerView">
        </activity>
        <activity android:name=".DetallesArticulos">
        </activity>
        <activity
                android:name=".ListViewArticulos"
                android:configChanges="screenSize|orientation"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name=".ConsultaSpinner">
        </activity>
        <activity
                android:name=".MainActivity"
                android:configChanges="screenSize|orientation"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>